<div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  
  <div *ngIf="!isLoading">
  <div class="row header-page">
    <div class="col text-center">
        <h1 class="mt-4 titulo-tabela-h1"> Lista de fontes de renda </h1>
    </div>
  </div>
  
  <div class="container-fluid">
  
    <h2 id="titulo-filtro">Filtros</h2>
  
    <form [formGroup]="formFiltro">
      <div class="row filtro-select" >
        <div class="col-6 processo">
          <mat-form-field class="custom-select">
            <mat-label> Descrição da fonte de renda </mat-label>
            <input formControlName="fonteDeRenda" type="text" matInput [matAutocomplete]="autoResp">
            <mat-autocomplete autoActiveFirstOption #autoResp="matAutocomplete" [displayWith]="obterDescricaoFonteRenda"
              (optionSelected)="aplicarFiltro()">
              <mat-option>&lt;&lt;Selecione&gt;&gt;</mat-option>
              <mat-option *ngFor="let item of descricaoFonteRendaFiltro" [value]="item">
                {{item?.descricao}}
              </mat-option>
            </mat-autocomplete>
            <span class="dropdown-icon">
              <svg viewBox="0 0 24 24">
                <path d="M7 10l5 5 5-5z"></path>
              </svg>
            </span>
          </mat-form-field>
        </div>
        
        <div class="col-6 processo">
          <mat-form-field class="custom-select">
            <mat-label> Data de criação </mat-label>
            <input formControlName="dataCriacao" type="text" matInput [matAutocomplete]="autoResp2">
            <mat-autocomplete autoActiveFirstOption #autoResp2="matAutocomplete" [displayWith]="obterDataCriacao"
              (optionSelected)="aplicarFiltro()">
              <mat-option>&lt;&lt;Selecione&gt;&gt;</mat-option>
              <mat-option *ngFor="let item of dataCriacaoFiltro" [value]="item">
                {{item?.dataCriacao}}
              </mat-option>
            </mat-autocomplete>
            <span class="dropdown-icon">
              <svg viewBox="0 0 24 24">
                <path d="M7 10l5 5 5-5z"></path>
              </svg>
            </span>
          </mat-form-field>
        </div>       
  
      </div>
  
    </form>
  </div>
  
  
  <tabelaCrud [tabControl]="tabControl" (atualizar)="atualizarRegistros()" (inserir)="inserir()"
    (alterar)="alterar($event)" (excluir)="excluir($event)">
  </tabelaCrud>
  </div>