<div id="usuario">
    <form [formGroup]="form">
        <div>
            <div>
                <div class="container border  bg-white p-3">

                    <div class="container border rounded p-3 mb-3">

                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Nome do Usuário</mat-label>
                                    <input type="text" formControlName="nomeUsuario" matInput>
                                    <mat-error>
                                        <validacao-campo [control]="form.controls['nomeUsuario']"
                                            [mensagens]="msgValidacao['nomeUsuario']">
                                        </validacao-campo>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Email do Usuário</mat-label>
                                    <input type="text" formControlName="emailUsuario" matInput>
                                    <mat-error>
                                        <validacao-campo [control]="form.controls['emailUsuario']"
                                            [mensagens]="msgValidacao['emailUsuario']">
                                        </validacao-campo>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="col-12">
                                    <mat-form-field class="processo">
                                        <mat-label>Data de Criação</mat-label>
                                        <input matInput [matDatepicker]="dp1" formControlName="dataCriacao">                              
                                        <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                        <mat-error>
                                            <validacao-campo [control]="form.controls['dataCriacao']"
                                                [mensagens]="msgValidacao['dataCriacao']">
                                            </validacao-campo>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <rodape-cad [cadForm]="form" [registro]="registro" (confirmar)="confirmar()"
                                (cancelarRoute)="cancelar()" [isRoute]="true">
                            </rodape-cad>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>