<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
<div class="row header-page">
  <div class="col text-center">
      <h1 class="mt-4 titulo-tabela-h1"> Relação de Usuários </h1>
  </div>
</div>

<div class="container-fluid">

  <h2 id="titulo-filtro">Filtros</h2>

  <form [formGroup]="formFiltro">
    <div class="row filtro-select" >
      <div class="col-6 processo">
        <mat-form-field class="custom-select">
          <mat-label> Nome do Usuário </mat-label>
          <input formControlName="usuario" type="text" matInput [matAutocomplete]="autoResp">
          <mat-autocomplete autoActiveFirstOption #autoResp="matAutocomplete" [displayWith]="obterUsuario"
            (optionSelected)="aplicarFiltro()">
            <mat-option>&lt;&lt;Selecione&gt;&gt;</mat-option>
            <mat-option *ngFor="let item of usuarioFiltro" [value]="item">
              {{item?.nome}}
            </mat-option>
          </mat-autocomplete>
          <span class="dropdown-icon">
            <svg viewBox="0 0 24 24">
              <path d="M7 10l5 5 5-5z"></path>
            </svg>
          </span>
        </mat-form-field>
      </div>

      <div class="col-6  processo">
        <mat-form-field class="custom-select">
          <mat-label> E-mail do Usuário </mat-label>
          <input formControlName="email" type="text" matInput [matAutocomplete]="autoResp1">
          <mat-autocomplete autoActiveFirstOption #autoResp1="matAutocomplete" [displayWith]="obterEmail"
            (optionSelected)="aplicarFiltro()">
            <mat-option>&lt;&lt;Selecione&gt;&gt;</mat-option>
            <mat-option *ngFor="let item of emailFiltro" [value]="item">
              {{item?.email}}
            </mat-option>
          </mat-autocomplete>
          <span class="dropdown-icon">
            <svg viewBox="0 0 24 24">
              <path d="M7 10l5 5 5-5z"></path>
            </svg>
          </span>
        </mat-form-field>
      </div>

    </div>

  </form>
</div>


<tabelaCrud [tabControl]="tabControl" (atualizar)="atualizarRegistros()" (inserir)="inserir()"
  (alterar)="alterar($event)" (excluir)="excluir($event)">
</tabelaCrud>
</div>