<div class="row header-page">
    <div class="col text-center">
        <h1 class="m-1"></h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="">

                <mat-tab label="Lista de usuários">
                    <ng-template matTabContent>
                        <usuarioCad></usuarioCad>
                    </ng-template>
                </mat-tab>
                <!-- <mat-tab label="" [disabled]="desabilitaAba">
                    <ng-template matTabContent>
                         <usuarioCad><usuarioCad/> 
                    </ng-template>
                </mat-tab> -->

            </mat-tab-group>
        </div>
    </div>
</div>