<div class="container">
    <div class="row">
        <div class="col">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="">

                <mat-tab label="Lista de receita">
                    <ng-template matTabContent>
                        <receitaListaPage></receitaListaPage>
                    </ng-template>
                </mat-tab>
                  <mat-tab label="Lista de fonte de renda">
                    <ng-template matTabContent>
                     <fonteRendaListaPage></fonteRendaListaPage>                      
                    </ng-template>
                    </mat-tab>  

            </mat-tab-group>
        </div>
    </div>